services:
  redis:
    image: redis:7.4.7-bookworm

  mlsolid:
    image: mlsolid
    build: .
    ports:
      - 5000:5000
    depends_on:
      - redis
    volumes:
      - "./mlsolid.yaml:/etc/mlsolid/mlsolid.yaml"
